@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: black;
    color: white;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: clamp(2em, 15vw, 3.75em);
}

button {
    all: unset;
}

.content {
    padding: 10.625em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.information-wrapper, .button-wrapper {
    z-index: 1;
}

.button-wrapper {
    margin-top: auto;
    display: flex;
    gap: 2.5em;
}

button {
    font-size: 3.125em;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2em;
    height: 100px;
    aspect-ratio: 1/1;
    background-size: 100%;
    position: relative;
    background-size: cover;
}

button p {
    z-index: 1;
    background-size: 0%;
    font-family: 'Playfair Display', serif;
}

button:hover::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    z-index: 0;
    background-color: black;
}

button:hover p {
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

button:nth-of-type(1), button:nth-of-type(1) p {
    background-image: url("../content/grad1.jpg");
    color: black;
}
button:nth-of-type(2), button:nth-of-type(2) p {
    background-image: url("../content/grad2.jpg");
    color: white;
}
button:nth-of-type(3), button:nth-of-type(3) p {
    background-image: url("../content/grad3.jpg");
    color: black;
}
button:nth-of-type(4), button:nth-of-type(4) p {
    background-image: url("../content/grad4.jpg");
    color: white;
}

@media only screen and (max-width: 1550px) {
    button {
        aspect-ratio: unset;
        height: 50px;
        flex: 1 1 100%;
        border: 2px solid red;
        padding: 1.2em;
        font-size: clamp(1em, 2vw, 3em);
    }
    .button-wrapper {
        flex-wrap: wrap;
        gap: 1em;
    }
    .information-wrapper {
        margin-bottom: 5em;
    }
}

@media only screen and (max-width: 1250px) {
    .information-wrapper {
        margin-bottom: 0;
    }
    .content {
        padding: 2.5em;
    }
    button {
        border: 2px solid red;
        padding: 1em;
        font-size: clamp(1.6em, 2.4vw, 3em);
    }
}